# Ignore everything
*

# Allow root files
!.gitignore
!index.html

# Allow participant guide
!materials/
!materials/participant-guide-site/
!materials/participant-guide-site/index.html
!materials/participant-guide-site/og-image.png

# Allow questionnaire
!materials/questionnaire-site/
!materials/questionnaire-site/index.html

# Allow resources
!resources/
!resources/workshop-test.zip
